
@media print {

   
    
    

    @page{
        size: 8.5in 11in portrait;
        margin: 2cm;
        display: none;
        
    }
  
     .qrPrint {
        
        display: inline-block;
        padding: .04in;
     }
     
    

    

}

