.legend{
    /* height: 40vw; */
    /* width: 40vw; */
    max-width: 40vw;
    border-style: ridge;
    border-color: #90897f;
    border-radius: 4px;
    padding: 5px;
}

.belwinBorder{
    height: 8px;
    width: 8px;
    border-color: #90897f;
    border-style: solid;
    /* float: left; */
    display: inline-block;
}

.purchase{
    height: 10px;
    width: 10px;
    background-color: #647c36;
    /* float: left; */
    display: inline-block;
}

.savedByYear{
    width: 10px;
    height: 10px;
    /* float: right; */
    display: inline-block;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 4px,
        transparent 1px,
        #90897f 7px
      ),
      linear-gradient(
        to bottom,
        transparent,
        transparent
      )
}