.header-main {
    text-align: center;
    background-image: url("/images/Facebook-Cover-Photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    margin-bottom: auto;
}